%ul
  - list.each do |post|
    %li
      %h2
        %a{:href => "#{Y::DOMAIN}post/#{post[:slug]}"}= post[:title]
      = post[:excerpt]
      = Y::render 'post_footer', {:post => post}
.pagination
  - (1..pagination[:total]).each do |page|
    %a{:href => "#{Y::DOMAIN}#{page}"}
      - if page == pagination[:active]
        %strong= page
      - else
        = page
-# = render 'pagination', {:active => pagination[:active], :total => pagination[:total]}
